---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<style>
    article {
        display: grid;
        justify-content: center;
    }
    figure {
        text-align: start;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-block-size: 100vb;
    }

    figure:not(:first-child) {
        justify-content: center;
        scroll-snap-align: start;
    }

    figcaption {
        font-weight: bold;
    }
</style>

<BaseLayout title="Poetry - HB" description="" currentLink="poetry">
    <article>
        <figure>
            <figcaption>1997-2012 ; A-Z</figcaption>
            <p>
                Addicted to e-cigarettes marketed to<br />
                Broken minds that barely function,<br />
                Comparing themselves to beautiful models that<br />
                Don’t look healthy, the next post reads<br />
                Earth is dying please donate<br />
                For the sake of youth that have<br />
                Grown up scared in schools while learning<br />
                How to do trigonometry, but<br />
                In reality uncontrollably checking<br />
                Just in case they replied,<br />
                Knowing it was read 30 minutes ago, with<br />
                Loving parents who struggle to stay<br />
                Married, arguing while you play<br />
                Never have I ever in the basement<br />
                “Of course I have snuck out” was a lie because<br />
                Physical freedom is limited with life 360,<br />
                Quietly trying drugs to feel something while<br />
                Ranking girls on the internet<br />
                Sexualizes adolescents with no retribution for<br />
                Those hiding behind their screens,<br />
                Under one nation that's forced to pick a side<br />
                Validating an altered perception<br />
                Which keeps us distracted, like<br />
                Xanax being romanticized on television,<br />
                You know what it’s like to be in generation<br />
                Z.
            </p>
        </figure>
        <figure>
            <figcaption>Eye Contact</figcaption>
            <p>
                My Dad taught me to always look a man in his eye when he spoke<br
                />
                He said, “Holden look me in the eye and show me some respect”<br
                />
                But what if the man's not looking back, I often thought
            </p>
            <p>
                A man afraid of the world looking back at him<br />
                Or maybe just a man afraid of a world looking through him<br />
                Yesterday I stopped counting after fifteen
            </p>
            <p>
                Fifteen people who looked away you see<br />
                The eye is a curious wanderer, nervous of what it may find<br />
                God forbid the judgment of another wandering eye
            </p>
            <p>
                Yet we walk past souls everyday as though their eyes aren't ours<br
                />
                Like if I looked, and you looked too, something might just happen<br
                />
                Something more, something, something like love
            </p>
            <p>
                If you even believe in something like that<br />
                So, I encourage you to look, to look back<br />
                And to keep looking
            </p>
            <p>
                With 8 billion people in the world, how many can you look at?<br
                />
                But more importantly how many can look back at you?
            </p>
        </figure>
        <figure>
            <figcaption>One word</figcaption>
            <p>
                Describe yourself in one word <br />
                A question for a kid <br />
                Who’s unconscious of growing older <br />
                Single file line one after another.
            </p>
            <p>
                Stressed as time clicks down, <br />
                As multiplication problems remain undone <br />
                Unaware of what the future holds <br />
                Yet holding on for dear life.
            </p>
            <p>
                Unknowingly walking into the abyss <br />
                Just like everybody else <br />
                Funneling into adulthood <br />
                Around and around and around.
            </p>
            <p>
                The kid answers. <br />
                Unique.
            </p>
        </figure>
        <figure>
            <figcaption>Perspective</figcaption>
            <p>
                A painting of a single line, unbothered <br />
                that you a simple viewer <br />
                could have “Totally painted that bro”.
            </p>
            <p>
                A Pollock splattered around the corner <br />
                as a spider lays his web in the wind, <br />
                confused which eighth eye is lying to him.
            </p>
            <p>
                The viewer, unable to overcome misconception. <br />
                Convinced their opinion is right, <br />
                They only look left.
            </p>
            <p>
                Acknowledge the instillation of paint, <br />
                prime as the location of each tree. <br />
                Few planted specifically, many unknown.
            </p>
        </figure>
        <figure>
            <figcaption>Photography</figcaption>
            <p>
                To capture a moment in time <br />
                Is love at first sight <br />
                Obsessed with the vision <br />
                Plummeting further into a paused reality
            </p>
            <p>
                As the flash casts light <br />
                Fake smiles light up the room <br />
                Faces remain trapped <br />
                Waiting for untold stories
            </p>
            <p>
                Press the button <br />
                No matter the reason <br />
                A hidden canvas revealed <br />
                Nailing the complexion within
            </p>
        </figure>
    </article>
</BaseLayout>
