---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<style>
    div {
        display: grid;
        gap: 4rem;
    }
    lite-youtube {
        aspect-ratio: 1.776;
        max-inline-size: 800px;
        justify-self: center;
    }
</style>

<BaseLayout title="Projects - HB" description="" currentLink="client-work">
    <div>
        <lite-youtube videoid="zG_Sfwb-yrw"></lite-youtube>
        <lite-youtube videoid="zmiMf4yEtOI"></lite-youtube>
    </div>
</BaseLayout>
