html {
    color-scheme: dark light;

    font-family: var(--font-charter);
    color: light-dark(#0e1116, #fffcf2);
    background-color: light-dark(#fffcf2, #0e1116);
}



@view-transition {
    navigation: auto;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}