html {
    color-scheme: dark light;

    font-family: var(--font-charter);
    color: light-dark(#0e1116, #fffcf2);
    background-color: light-dark(#fffcf2, #0e1116);
}



@view-transition {
    navigation: auto;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

img {
    max-block-size: 800px;
    object-fit: contain;
}

main:has(.poems) {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}