@layer {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	*:not(dialog) {
		margin: 0;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	html {
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		block-size: 100%;
	}

	body {
		line-height: 1.5;
	}

	img,
	video,
	audio,
	canvas {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	iframe {
		display: block;
		max-inline-size: 100%;
	}

	svg {
		max-inline-size: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	p {
		text-wrap: pretty;
		font-variant-numeric: proportional-nums;
	}

	p,
	blockquote,
	q,
	figcaption,
	li {
		hanging-punctuation: first allow-end last;
	}

	input,
	label,
	button,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
	}

	math,
	time,
	table {
		font-variant-numeric: tabular-nums lining-nums slashed-zero;
	}

	code {
		font-variant-numeric: slashed-zero;
	}

	table {
		border-collapse: collapse;
	}

	:focus-visible {
		outline-offset: 0.2rem;
	}
}