---
import MainPageLayout from "@layouts/MainPageLayout.astro";
import Navigation from "@components/Navigation.astro";
---

<style>
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    main {
        margin-inline: auto;
        display: grid;
        gap: 4rem;
        padding: 1rem;
        max-inline-size: 40rem;
        ul {
            display: grid;
            font-size: 2rem;
            justify-items: end;
            gap: 0.5rem;
        }
    }
</style>

<MainPageLayout title="Holden Brown" description="">
    <main><h1>Holden Brown</h1><Navigation /></main>
</MainPageLayout>
