---
import { Font } from "astro:assets";
const { title, description } = Astro.props;
---

<head>
	<Font cssVariable="--font-charter" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Ben Yeagley" />
	<meta name="description" content={description} />
	<meta name="generator" content={Astro.generator} />
	<link
		rel="stylesheet"
		href="../../node_modules/lite-youtube-embed/src/lite-yt-embed.css"
	/>
	<script src="../../node_modules/lite-youtube-embed/src/lite-yt-embed.js"
	></script>
	<title>{title}</title>
</head>
