---
const { currentLink } = Astro.props;
---

<style>
    nav {
        border-block: 1px solid light-dark(#0e1116, #fffcf2);
        inline-size: 100%;
        margin-block-end: 2rem;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }

    li {
        padding-block: 2px;
        padding-inline: 0.5rem;
    }

    a {
        font-weight: 600;
    }

    li:has(.currentLink) {
        background-color: light-dark(#0e1116, #fffcf2);
        color: light-dark(#fffcf2, #0e1116);
    }
</style>

<nav>
    <ul>
        <li>
            <a
                href="/hbthings/artwork"
                class:list={[{ currentLink: currentLink === "artwork" }]}
                >Artwork</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "photography" }]}
                href="/hbthings/photography">Photography</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "video" }]}
                href="/hbthings/video">Video</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "projects" }]}
                href="/hbthings/projects">Projects</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "poetry" }]}
                href="/hbthings/poetry">Poetry</a
            >
        </li>
    </ul>
</nav>
