---
const { currentLink } = Astro.props;
---

<style>
    nav {
        border-block: 1px solid #fffcf2;
        inline-size: 100%;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        gap: 0.25rem;
    }

    li {
        padding-block: 2px;
        padding-inline: 0.25rem;
    }

    a {
        font-weight: 600;
    }

    li:has(.currentLink) {
        background-color: #fffcf2;
        color: #0e1116;
    }
</style>

<nav>
    <ul>
        <li>
            <a
                href="/hbthings/paintings"
                class:list={[{ currentLink: currentLink === "paintings" }]}
                >Paintings</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "photography" }]}
                href="/hbthings/photography">Photography</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "video" }]}
                href="/hbthings/video">Video</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "projects" }]}
                href="/hbthings/projects">Projects</a
            >
        </li>
        <li>
            <a
                class:list={[{ currentLink: currentLink === "poetry" }]}
                href="/hbthings/poetry">Poetry</a
            >
        </li>
    </ul>
</nav>
