<button popovertarget="menu">HB</button>
<menu id="menu" popover>
    <li><a href="/hbthings/">Home</a></li>
    <li><a href="/hbthings/paintings">Paintings</a></li>
    <li><a href="/hbthings/photography">Photography</a></li>
    <li><a href="/hbthings/video">Video</a></li>
    <li><a href="/hbthings/projects">Projects</a></li>
    <li><a href="/hbthings/poetry">Poetry</a></li>
</menu>
