<style>
    a,
    a:visited {
        text-decoration: none;
    }

    a {
        font-size: 3rem;
        font-weight: 900;
        text-box-trim: trim-end;
    }
</style>
<a href="/hbthings">Holden Brown</a>
