<style>
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
</style>

<nav>
	<ul>
		<slot />
		<li><a href="/hbthings/artwork">Artwork</a></li>
		<li><a href="/hbthings/photography">Photography</a></li>
		<li><a href="/hbthings/video">Video</a></li>
		<li><a href="/hbthings/projects">Projects</a></li>
		<li><a href="/hbthings/poetry">Poetry</a></li>
	</ul>
</nav>
