<style>
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
</style>

<nav>
	<ul>
		<slot />
		<li><a href="/paintings">Paintings</a></li>
		<li><a href="/photography">Photography</a></li>
		<li><a href="/video">Video</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/poetry">Poetry</a></li>
	</ul>
</nav>
