---
import BaseLayout from "@layouts/BaseLayout.astro";

import Picture from "astro/components/Picture.astro";
import picture1 from "../../images/paintings/Picture1.jpg";
import picture2 from "../../images/paintings/Picture2.jpg";
import picture3 from "../../images/paintings/Picture3.png";
import picture4 from "../../images/paintings/Picture4.jpg";
---

<style>
    section {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 4rem;
    }
</style>
<BaseLayout title="Paintings - HB" description="" currentLink="paintings">
    <section>
        <Picture
            src={picture1}
            formats={["avif", "webp"]}
            alt="A description of my image."
        />
        <Picture
            src={picture2}
            formats={["avif", "webp"]}
            alt="A description of my image."
        />
        <Picture
            src={picture3}
            formats={["avif", "webp"]}
            alt="A description of my image."
        />
        <Picture
            src={picture4}
            formats={["avif", "webp"]}
            alt="A description of my image."
        />
    </section>
</BaseLayout>
