---
import "@styles/reset.css";
import "@styles/global.css";
import Head from "@components/Head.astro";
import Menu from "@components/Menu.astro";
import Name from "@components/Name.astro";
const { title, description, currentLink } = Astro.props;
---

<style>
	main {
		margin-inline: auto;
		text-align: center;
		display: grid;
		justify-items: center;
	}

	main:first-child {
		padding: 1rem;
	}
</style>
<html dir="ltr" lang="en-US">
	<Head title={title} description={description} />
	<body>
		<main>
			<Name />
			<Menu currentLink={currentLink} />
			<slot />
		</main>
	</body>
</html>
