---
import "@styles/reset.css";
import "@styles/global.css";
import Head from "@components/Head.astro";
import Menu from "@components/Menu.astro";
const { title, description } = Astro.props;
---

<style>
	main {
		margin-inline: auto;
		text-align: center;
		display: grid;
		gap: 4rem;
		padding: 2rem;
	}
</style>
<html dir="ltr" lang="en-US">
	<Head title={title} description={description} />
	<body>
		<main>
			<Menu />
			<slot />
		</main>
	</body>
</html>
